.ChatMain
  .ChatMain__header
    .ChatMain__header__name
      .ChatMain__header__name__group-name
        = @group.name
      .ChatMain__header__name__member
        Member : 
        - @group.users.each do |group_user|
          = group_user.name
    = link_to edit_group_path(@group), data: {"turbolinks": false} do
      Edit
  .ChatMain__messages
    = render @messages
  .ChatMain__form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: "form__text", placeholder: "type a message"
      .form__input-box
        = f.label :image, class: "form__input-box__image" do
          = icon("fas", "image", class: "icon")
        = f.file_field :image, class: "hidden"
      = f.submit "Send", class: "form__submit"
      