.ChatSide
  .ChatSide__header
    .ChatSide__header__box
      %p.ChatSide__header__box__name
        = current_user.name
      %ul.ChatSide__header__box__menu
        %li.ChatSide__header__box__edit
          = link_to do
            = icon('fas', 'pen-square', class: 'icon')
        %li.ChatSide__header__box__NewGroup
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
  .ChatSide__groups
    .group
      .group__name
        pon
      .group__message
        まだメッセージがありません
    .group
      .group__name
        pon2
      .group__message
        まだメッセージがありません